.ImageGrid  {
    padding: 2em 3.5em;
    flex: 2;

    /* Use CSS grid */
    display: grid;

    /* Specifies we want to fill as many 200px items as will fit on a row */
    grid-template-columns: repeat(auto-fit, 200px);
    
    /* Sets the gap between grid items */
    gap: 15px;
}

/* Tablet Size */
@media screen and (max-width: 768px) {

    .ImageGrid {
        /* Center the grid items horizontally on tablet and smaller */
        justify-content: center;
        grid-template-columns: repeat(auto-fill, 300px);
    }
}