@use 'base';

.ImageDetails {
    background: base.$color-background-light;
    height: 86vh;
    position: sticky;
    align-self: flex-start;
    top: 0;
    padding: 3em;

    img {
        width: 38em;
        padding: 1em;
        border-radius: 4%;
    }

    h3 {
        color: white;
        font-family: base.$font-secondary;
        font-size: 2rem;
    }

}