@use 'base';

.ProfileSettings {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;

    input { 
        display: none;
    }

    img {
        border-radius: 50%;
        width: 20em;
        height: 20em;
        cursor: pointer;
    }

    h1, 
    h2 {
        color: white;
    }

    h1 {
        font-family: base.$font-primary;
        font-size: 5rem;
    }

    h2 {
        font-family: base.$font-secondary;
        font-weight: normal;
    }
}

@media screen and (max-width: base.$tablet-size) {
    .ProfileSettings {
        .profile-info-container {
            margin-left: 1em;
        }
    }
}

@media screen and (max-width: base.$phone-size) {
    .ProfileSettings {
        padding: 1em;
        flex-flow: column;
        
        h1, 
        h2 {
            text-align: center;
        }

        h1 {
            font-size: 3rem;
        }
    }
}