@use 'base';

.Profile {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    /* Display flex so that they're in a horizontal list */
    display: flex;

    /* Align the text vertically with the picture */
    align-items: center;

    margin-right: 1em;
    cursor: pointer;

    border-radius: base.$border-radius-small;
    padding: 0.5em;

    transition: background-color, 150ms ease-in;

    p {
        font-family: base.$font-secondary;
        color: white;
    }

    .profile-picture {
        /* We will be using position absolute on the SVG below, so use relative here */
        position: relative;
        
        height: 3em;
        width: 3em;
        margin-left: 0.7em;
        background-color: base.$color-background-light;

        /* Makes it a circle */
        border-radius: 50%;

        svg, img {
            /* Centers it */
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
        }

        svg, p {
            color: white;
        }
    }

}

.Profile:hover {
        background-color: base.$color-background-light;
}

/* Phone Size */
@media screen and (max-width: 480px) {
    /* Don't display the firstname and lastname because it won't fit */
    .Profile p {
        display: none;
    }


}