@use 'base';

.UploadArea {
    input {
        display: none;
    }

    .drag-area {
        min-height: 25em;
        min-width: 20em;
        // max-width: 50em;
        background-color: base.$color-background-light;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
    }

    p {
        color: white;
        font-family: base.$font-primary;
        text-align: center;
        font-size: 2rem;
    }

    @media screen and (min-width: 950px){
        .drag-area {
            width: 50em;
        }
    }
}